
.listbox-button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 100%;

    background-color: white;
    color: black;

    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    text-align: left;

    border-radius: 6px;
    border: 1px solid var(--light-gray-border);
}

.listbox-option-group {
    background-color: white;
    border: 1px solid var(--light-gray-border);

    border-radius: 6px;
    padding-left: 0;
}

.listbox-option-item {
    margin-left: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    list-style: none;
    background-color: white;
    border-radius: 6px;

    
}

.listbox-option-item-content-selected {
    color: var(--primary-accent-shade-1);
    background-color: var(--primary-accent-tint-2);
}

.listbox-option-item-content {
    padding: 0.75rem;
}

.listbox-button:hover {
    color: var(--primary-accent-shade-1);
    background-color: var(--primary-accent-tint-2);
}

.listbox-icon {
    width: 20px;
    height: 20px;
}

.listbox-icon path {
    fill: var(--primary-accent-color);
}