@import "fonts.css";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

p, label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.custom-input {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.custom-button {
  font-family: "Abril Fatface", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.form-item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-item-label {
  margin-bottom: 0.5rem;
}

.form-item-submit {
  margin-top: 1rem;
}